#FAQ {
  @include basicStyle(70vh, 5rem, 10rem);
  @include flexStyles(space-between, center);

  .left-col {
    width: 40%;
    height: 100%;
    @include flexStyles(center, start);
    flex-direction: column;

    .rocket{
      width: 10%;
      margin-bottom: 2rem;
    }

    h1{
        font-size: 3rem;
    }

    .linkBtn {
      width: 25%;
      height: auto;
      margin-top: 2rem;
      button {
        width: 100%;
        height: 40px;
        @include flexStyles(center, center);
        color: white;
        transition: 0.3s;
        img {
          width: 10%;
          margin-right: 0.5rem;
        }

        &:hover {
          background: $highlightHover;
        }
      }
    }
  }
  .ans-col {
    width: 50%;
    height: 100%;
    overflow-y: scroll;

    .row {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
      padding-right: 1rem;

      h3 {
        color: $gradientText2;

        img {
          width: 2%;
          margin-right: 0.5rem;
        }
      }

      p{
        padding-left: 1.7rem;
      }
    }
  }
  .ans-col::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: $darkNav;
  }

  .ans-col::-webkit-scrollbar {
    width: 10px;
  }

  .ans-col::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $blueGradient;
  }
}
