#ourSeminars {
  @include basicStyle(125vh, 5rem, 10rem);
  @include flexStyles(start, center);
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 3rem;
  }
  p {
    text-align: center;
  }

  .seminars-slider {
    width: 90%;
    height: 70vh;
    margin-top: 5rem;

    .seminarCard {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat((3, 1fr));
      gap: 1rem;
      padding: 0 1rem;
      position: relative;

      .card-item {
        border-radius: 0.5rem;
      }

      .card-item:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/-1;
        height: 100%;
        overflow: hidden;
        .vid-cont {
          width: 100%;
          height: 100%;
          position: relative;
          padding-top: 100% !important;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      .card-item:nth-child(2) {
        grid-column: 3/-1;
        padding: 3rem 2rem;
        @include flexStyles(center, center);
        flex-direction: column;

        .date,
        .title,
        .place {
          width: 100%;
          @include flexStyles(start, start);

          img {
            width: 4%;
            margin-right: 0.5rem;
            margin-top: 0.3rem;
          }
        }

        .title {
          margin: 1rem 0;
          h2 {
            font-size: 1.3rem;
          }
        }
      }
      .card-item:nth-child(3),
      .card-item:nth-child(4),
      .card-item:nth-child(5),
      .card-item:nth-child(6) {
        overflow: hidden;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
