#popularCourses {
  width: 100%;
  height: 100vh;
  position: relative;

  #coursePopup {
    width: 100vw;
    height: 100vh;
    background: rgba(5, 5, 5, 0.436);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 0%;
    border-radius: 0.5rem;
    box-shadow: 3px 7px 21px rgba(0, 0, 0, 0.34);
    @include flexStyles(center, center);

    .content {
      width: 40%;
      height: 80%;
      border: 1px solid $blueGradient;
      border-radius: 0.5rem;
      padding: 3rem 1.5rem 1.5rem 1.5rem;
      position: relative;

      .closePopup {
        position: absolute;
        right: 1.3rem;
        top: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
      }

      iframe {
        width: 100%;
        height: 50%;
        border-radius: 0.3rem;
      }

      .bestSeller {
        padding: 0.1rem 0.5rem;
        background: $star;
        border-radius: 0.2rem;
      }

      .details {
        width: 100%;
        height: auto;
        @include flexStyles(space-between, start);
        margin-top: 1rem;

        .left-col {
          width: 58%;
          height: 28vh;
          color: white;

          p {
            color: $secondaryDarkText;
            font-size: 0.8rem;
          }
        }
        .right-col {
          width: 38%;
          height: 28vh;
          ul {
            li {
              list-style: none;
              @include flexStyles(start, start);
              margin-bottom: 0.5rem;
            }
          }

          button {
            width: 100px;
            height: 40px;
            transition: 0.3s;
            @include flexStyles(center, center);

            .cart{
              color: white;
              margin-right: 0.5rem;
            }

            a {
              color: white;
            }

            &:hover {
              background: $highlightHover;
            }
          }
        }
      }
    }
  }

  .back {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    opacity: 0;

    .grad1,
    .grad2,
    .grad3 {
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      position: absolute;
      filter: blur(200px);
    }

    .grad1 {
      top: 0;
      left: 0;
      background: rgba(0, 108, 126, 0.349);
    }
    .grad2 {
      top: 10%;
      left: 40%;
      background: rgba(9, 255, 0, 0.329);
    }
    .grad3 {
      bottom: 0;
      right: 0;
      background: rgba(170, 0, 255, 0.418);
    }
  }

  .front {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5rem 10rem;
    top: 0;
    z-index: 2;

    h1 {
      opacity: 0;
      text-align: center;
      font-size: 3rem;
      margin-top: 3rem;
    }
    .sec-subTitle {
      opacity: 0;
      text-align: center;
      margin: 1rem 0 3rem 0;
    }

    .slider {
      opacity: 0;
      position: relative;

      #courseCard {
        width: 95%;
        height: 55vh;
        overflow: hidden;
        border-radius: 0.5rem;

        .courseBanner {
          width: 100%;
          height: 40%;
          position: relative;

          .bestSeller {
            background: $star;
            position: absolute;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include flexStyles(center, center);
            border-radius: 0.3rem;
            p {
              font-size: 0.7rem;
              padding: 0.1rem 0.5rem;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .popupbtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            cursor: pointer;
            z-index: 2;
            transition: 0.3s;

            &:hover {
              opacity: 0.8;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.34);
          }
        }

        .course-details {
          width: 100%;
          height: 60%;
          padding: 1rem 2rem;

          h2 {
            width: 100%;
            height: auto;
          }

          small {
            color: $secondaryDarkText;
            span {
              font-weight: bold;
            }
          }

          .desc {
            font-size: 0.9rem;
            font-weight: 300;
            height: 30%;
          }

          .enrollNum {
            @include flexStyles(start, center);
            width: 100%;
            height: 5vh;

            img {
              width: 6%;
              margin-right: 0.6rem;
            }
            p {
              font-weight: 500;
            }
          }

          .btn-group {
            margin-top: 0.5rem;
            width: 100%;
            height: 5vh;
            @include flexStyles(space-between, center);

            .left-btn {
              width: 40%;
              height: 100%;
              border-radius: 0.3rem;
              @include flexStyles(center, center);

              img {
                width: 15%;
                margin-right: 0.5rem;
              }
              p {
                font-weight: 600;
              }
            }
            .right-btn {
              width: 55%;
              @include flexStyles(center, center);
              border-radius: 0.3rem;
              cursor: pointer;
              transition: 0.3s;

              a {
                @include flexStyles(center, center);
                padding: 0.5rem;

                .cart{
                  color: #fff;
                  margin-right: 0.5rem;
                }
                p {
                  font-weight: 600;
                  color: $primaryDarkText;
                }
              }

              &:hover {
                background: $highlightHover;
              }
            }
          }
        }
      }
    }
  }
}
