#seminar {
  @include basicStyle(170vh, 5rem, 10rem);
  @include flexStyles(space-between, center);
  flex-direction: column;
  position: relative;

  .gradient1 {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    position: absolute;
    filter: blur(200px);
    background: rgba(255, 0, 247, 0.221);
    top: 30%;
    right: 0;
  }

  .upcomingSeminar {
    opacity: 0;
    width: 100%;
    height: 55vh;
    @include flexStyles(space-between, center);
    border: 1px solid $bannerBorder;
    padding: 0 3rem;
    border-radius: 0.5rem;

    .banner-col {
      width: 50%;
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.3rem;
      }
    }
    .info-col {
      width: 45%;
      height: 80%;
      @include flexStyles(center, start);
      flex-direction: column;
      small {
        padding: 0.2rem 1rem;
        background: $lightNav;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
      }

      .linkBtn {
        width: 25%;
        height: auto;
        margin-top: 2rem;
        button {
          width: 100%;
          height: 40px;
          @include flexStyles(center, center);
          background: $highlight;
          color: white;
          transition: 0.3s;
          img {
            width: 10%;
            margin-right: 0.5rem;
          }

          &:hover {
            background: $highlightHover;
          }
        }
      }
    }
  }

  .freeCourses {
    width: 100%;
    height: 90vh;
    position: relative;

    .top-row {
      margin-top: 5rem;
      width: 100%;
      height: auto;

      h1 {
        font-size: 3rem;
        text-align: center;
        opacity: 0;
      }
      p {
        text-align: center;
        opacity: 0;
        margin-top: 1rem;
      }
    }

    .bottom-row {
      width: 100%;
      height: auto;
      margin-top: 3rem;

      #freeCourseCard {
        width: 95%;
        height: 55vh;
        overflow: hidden;
        border-radius: 0.5rem;

        .courseBanner {
          width: 100%;
          height: 40%;
          position: relative;

          .bestSeller {
            background: $star;
            position: absolute;
            z-index: 3;
            right: 5%;
            top: 5%;
            @include flexStyles(center, center);
            border-radius: 0.3rem;
            p {
              font-size: 0.7rem;
              padding: 0.1rem 0.5rem;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .popupbtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            cursor: pointer;
            z-index: 2;
            transition: 0.3s;

            &:hover {
              opacity: 0.8;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.34);
          }
        }

        .course-details {
          width: 100%;
          height: 60%;
          padding: 1rem 2rem;

          h2 {
            width: 100%;
            height: 20%;
          }

          small {
            color: $secondaryDarkText;
            span {
              font-weight: bold;
            }
          }

          .desc {
            font-size: 0.9rem;
            font-weight: 300;
            height: 30%;
          }

          .enrollNum {
            @include flexStyles(start, center);
            width: 100%;
            height: 5vh;

            img {
              width: 6%;
              margin-right: 0.6rem;
            }
            p {
              font-weight: 500;
            }
          }

          .btn-group {
            margin-top: 0.5rem;
            width: 100%;
            height: 5vh;
            @include flexStyles(space-between, center);

            .left-btn {
              width: 40%;
              height: 100%;
              border-radius: 0.3rem;
              @include flexStyles(center, center);

              img {
                width: 15%;
                margin-right: 0.5rem;
              }
              p {
                font-weight: 600;
              }
            }
            .right-btn {
              width: 55%;
              @include flexStyles(center, center);
              border-radius: 0.3rem;
              cursor: pointer;
              transition: 0.3s;

              a {
                @include flexStyles(center, center);
                padding: 0.5rem;

                img {
                  width: 15%;
                  margin-right: 0.5rem;
                }
                p {
                  font-weight: 600;
                  color: $primaryDarkText;
                }
              }

              &:hover {
                background: $highlightHover;
              }
            }
          }
        }
      }
    }
  }
}
