#socialSupport {
  @include basicStyle(90vh, 5rem, 10rem);
  @include flexStyles(space-between, center);

  .left-col {
    width: 45%;
    height: 100%;
    @include flexStyles(center, start);
    flex-direction: column;

    .btn-group {
      @include flexStyles(space-between, center);
      width: 65%;
      height: auto;
      margin-top: 3rem;

      .linkBtn {
        width: 45%;
        height: 100%;

        button {
          width: 100%;
          height: 50px;
          @include flexStyles(center, center);

          img {
            width: 10%;
          }

          p {
            font-size: 1rem;
            margin-left: 0.5rem;
          }
        }
      }

      .linkBtn:last-child,
      .linkBtn:first-child {
        button {
          &:hover {
            background: #bcbcbc52;
            color: #fff;
          }
        }
      }
    }
  }
  .right-col {
    width: 45%;
    height: 100%;
    @include flexStyles(center, center);
    position: relative;

    img {
      width: 100%;
      position: absolute;
      z-index: 3;
    }

    .gradient1,
    .gradient2 {
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      position: absolute;
      filter: blur(200px);
    }

    .gradient1 {
      background: rgba(0, 255, 179, 0.221);
      top: 40%;
      left: -10%;
    }
    .gradient2 {
      background: rgba(0, 145, 255, 0.221);
      top: -10%;
      left: -100%;
    }
  }
}
