#support {
  @include basicStyle(60vh, 5rem, 10rem);
  @include flexStyles(center, center);
  flex-direction: column;

  .switchBar {
    width: 50%;
    height: 5rem;
    position: relative;
    opacity: 0;

    .switches {
      width: 100%;
      height: 100%;
      @include flexStyles(space-between, center);
      position: absolute;
      z-index: 1;

      .switchArea {
        @include flexStyles(space-between, center);
        flex-direction: column;
        cursor: pointer;

        .switch {
          width: 1rem;
          height: 1rem;
          background: #848484;
          border-radius: 50%;
        }
        p {
          color: #848484;
          margin-top: 0.3rem;
        }
      }

      .switchArea.active {
        .switch {
          background: $gradientText2;
        }

        p {
          color: $gradientText2;
        }
      }
    }

    .line {
      width: 96%;
      height: 2px;
      background: $lightNav;
      position: absolute;
      left: 2%;
      top: 30%;
    }
  }

  h1 {
    font-size: 3rem;
    width: 40%;
    text-align: center;
    margin-top: 2rem;
    opacity: 0;
  }

  .supportText {
    background: $dark3;
    padding: 2rem 3rem;
    border-radius: 0.3rem;
    color: $gradientText2;
  }
}
