#navbar {
  .mobile_menu,
  .hamburger {
    display: none;
  }

  .desktop_menu {
    @include basicStyle(10vh, 0, 10rem);
    @include flexStyles(space-between, center);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    backdrop-filter: blur(17px);

    .logo {
      width: 8%;

      img {
        width: 100%;
      }
    }

    .menu {
      width: 57%;
      @include flexStyles(space-between, center);
      position: relative;

      .link {
        @include flexStyles(center, center);
        padding: 1.6rem 0.2rem;
        margin: 0 0.5rem;
        transition: all 0.3s;
        cursor: pointer;

        p {
          margin: 0.3rem 0.3rem 0rem 0.3rem;
          transition: all 0.3s;
        }

        img {
          width: 12%;
          margin-top: 0.2rem;
        }

        .downArrow {
          color: $gradientText2;
          transition: all 0.3s;
          margin-top: 0.3rem;
        }

        &:hover .downArrow {
          color: $gradientText2;
        }

        &:hover p {
          color: #898989;
        }
      }

      .link.active {
        p {
          color: $gradientText2;
          font-weight: 600;
        }
      }

      .d-link {
        position: relative;

        ul {
          width: auto;
          height: auto;
          display: none;
          position: absolute;
          top: 100%;
          padding-top: 1rem;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.096);
          z-index: 3;

          li {
            list-style: none;
            padding: 0.5rem 1rem;

            .menuLink {
              @include flexStyles(space-between, center);
              p {
                width: 10rem;
              }
              .rightArrow {
                color: $gradientText2;
              }
              .all-course {
                color: $gradientText2;
              }
            }

            &:hover {
              p {
                color: $gradientText2;
              }
            }
          }
        }

        &:hover {
          ul {
            display: block;
            backdrop-filter: blur(7px);
          }
        }
      }
    }

    .navButtons {
      width: 28%;
      height: 50%;
      @include flexStyles(space-between, center);

      .linkBtn {
        width: 8rem;
        height: 80%;

        button {
          width: 100%;
          height: 100%;

          @include flexStyles(center, center);
          img {
            width: 11%;
            margin-right: 0.5rem;
          }
          p {
            width: auto;
          }

          cursor: pointer;
        }
      }

      .linkBtn:first-child {
        button {
          &:hover {
            background: #bcbcbc52;
            color: #fff;
          }
        }
      }
      .linkBtn:nth-child(2) {
        button {
          color: #fff;
          &:hover {
            background: $highlightHover;
          }
        }
      }

      .profile {
        width: 10rem;
        height: 80%;
        position: relative;

        .visible {
          width: 100%;
          height: 100%;
          @include flexStyles(center, center);
          gap: 0.5rem;
          cursor: pointer;
          border: 1px solid $borderColor;
          border-radius: 0.3rem;

          img {
            width: 15%;
          }
        }

        .visible.visibleBrdr{
          // border-bottom: none;
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;
          border-bottom-left-radius: none;
          border-bottom-right-radius: none;
        }

        .profileOverview{
          height: auto;
          width: 100%;
          position: absolute;
          @include flexStyles(center, start);
          flex-direction: column;
          padding: 1rem 0.5rem;
          right: 0;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          border: 1px solid $borderColor;
          border-top: none;
          opacity: 0;

          .line{
            width: 100%;
            height: 1px;
            background: $borderColor;
            margin: 0.5rem 0;
          }

          .activity{
            cursor: pointer;
          }

          .info{
            font-weight: 300;
          }

          .logout{
            width: 100%;
            padding: 0.3rem 0;
            color: white;
            background: rgb(253, 46, 46);
          }
        }
      }

      .sun,
      .moon {
        cursor: pointer;
        font-size: 1.1rem;
        transition: 0.3s;

        &:hover {
          transform: rotate(30deg);
        }
      }

      .sun {
        color: rgb(247, 220, 69);
      }

      .lang {
        width: 5%;
        cursor: pointer;
        transition: all 0.1s;
      }
    }
  }
}
