#singleJob {
  @include basicStyle(auto, 0rem, 0rem);

  main {
    @include basicStyle(auto, 10rem, 10rem);

    .title {
      margin-bottom: 3rem;
    }

    .content {
      width: 100%;
      height: auto;
      @include flexStyles(start, start);
      border: 1px solid $borderColor;
      padding: 1rem;
      gap: 1rem;
      border-radius: 0.3rem;

      .apply-area {
        width: 25%;
        img {
          width: 100%;
          border-radius: 0.3rem;
          margin-bottom: 1rem;
        }

        .line {
          width: 100%;
          height: 1px;
          background: $borderColor;
          margin: 1rem 0;
        }

        button {
          width: 100%;
          padding: 0.5rem 0;
          color: white;
          margin-top: 1rem;
        }
      }

      .details-area {
        width: 50%;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        padding: 0 1rem;

        .line {
          width: 100%;
          height: 1px;
          background: $borderColor;
          margin: 2rem 0;
        }

        .jobCategory {
          padding: 0.2rem 0.5rem;
          background: $gradientText2;
          color: white;
          border-radius: 0.3rem;
        }
        h1 {
          margin-top: 1rem;
          margin-bottom: 1rem;
          line-height: 2.5rem;
        }

        .description {
          font-weight: 300;
        }

        .budget {
          p {
            font-size: 1.3rem;

            span {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }

        .skills {
          width: 100%;
          height: auto;

          .skill-items {
            width: 100%;
            @include flexStyles(start, start);
            gap: 1rem;
            margin-top: 1rem;

            .skill {
              padding: 0.2rem 0.5rem;
              background: $borderColor;
              border-radius: 0.3rem;
              font-size: small;
            }
          }
        }
      }

      .client-area {
        width: 25%;

        .line {
          width: 100%;
          height: 1px;
          background: $borderColor;
          margin: 1rem 0;
        }

        .user {
          width: 100%;
          height: auto;
          @include flexStyles(start, center);
          gap: 0.5rem;
          margin-top: 1rem;

          img {
            width: 7%;
          }
        }

        .checkPrice {
          width: 100%;
          height: auto;
          @include flexStyles(start, center);
          gap: 0.5rem;
          margin-bottom: 1rem;
          img {
            width: 5%;
          }
        }

        .det {
          font-weight: 300;

          span {
            font-weight: 400;
          }
        }
      }
    }

    .relatedJobs {
      margin-top: 5rem;
      .bar {
        @include flexStyles(space-between, start);
        margin-bottom: 2rem;
        p {
          span {
            font-size: large;
            font-weight: 600;
          }
        }

        .postLine {
          .postJob {
            text-decoration: underline;
            font-size: large;
            font-weight: 600;
          }
        }
      }

      .jobs {
        width: 100%;
        height: auto;

        .jobsCard {
          @include flexStyles(start, start);
          flex-wrap: wrap;
          gap: 3rem 2rem;

          #jobCard {
            width: 23.4%;
            height: auto;
            border-radius: 0.5rem;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s;
            border: 1px solid $borderColor;

            .jobBanner {
              width: 100%;
              height: 15rem;
              object-fit: cover;
              border-top-right-radius: 0.5rem;
              border-top-left-radius: 0.5rem;
            }

            .clientDetails {
              width: 100%;
              height: auto;
              @include flexStyles(space-between, center);
              padding: 0.5rem 1rem;

              .userInfo {
                @include flexStyles(start, center);
                width: 60%;
                img {
                  width: 10%;
                  margin-right: 0.5rem;
                }
                .desc {
                  font-weight: 600;
                  font-size: large;
                }

                .price {
                  font-weight: 600;
                  font-size: large;
                }
              }

              .postDate {
                width: 40%;
                color: $star;
                text-align: right;
              }
            }

            .jobDetails {
              padding: 1rem;

              p {
                font-weight: 300;
                margin-bottom: 1rem;
              }

              .tags {
                width: 100%;
                @include flexStyles(start, start);
                gap: 1rem;
                margin-bottom: 1rem;

                .tag {
                  padding: 0.2rem 0.5rem;
                  background: $borderColor;
                  border-radius: 0.3rem;
                }
              }

              .client-job {
                width: 100%;
                @include flexStyles(start, center);
                margin-bottom: 2rem;
                gap: 1rem;

                .checkPrice {
                  width: 50%;
                  @include flexStyles(start, center);
                  img {
                    width: 6%;
                    margin-right: 0.5rem;
                  }
                }

                .checkJob {
                  width: 35%;
                  @include flexStyles(start, center);
                  img {
                    width: 12%;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
            &:hover {
              transform: translateY(-10px);
            }
          }
        }

        .pagination {
          width: 100%;
          height: auto;
          margin-top: 3rem;
          @include flexStyles(end, center);

          .pageList {
            button {
              border: 1px solid #ccc;
              width: 2rem;
              height: 2rem;
              margin-left: 0.5rem;
            }
            button.activePage {
              background: $gradientText2;
              color: white;
              border: 1px solid $gradientText2;
            }
          }
        }
      }
    }
  }
}
